body{
    background:#171717;
    color:white;

    font-family:Arial;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    min-height:100vh;

    margin:0;

    text-align:center;
}

button{
    background-color:#ff4f9b;
    color:white;

    border:none;
    border-radius:15px;

    padding:15px 35px;

    font-size:20px;

    cursor:pointer;

    transition:0.3s;
}
button:active{
    transform:scale(0.95);
}
